---
layout: default
title: Projects
---
<h1>This page is still under construction</h1>
{% for category in site.categories %}

<h2>{{ category[0] }}</h2>


  <div>
    <table class=firstline>
      <tbody>

  {% for post in category[1] %}
  <tr class=firstline>
    <th colspan = "4">
    <div class=thumbnail>
    <a href="{{ post.url }}" ><img src="{{ post.thumbnail }}"/></a>
    </th>
    <td>
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      
      <p>{{ post.excerpt }}</p>
    </td>
  </tr>
  {% endfor %}
      </tbody>
    </table>
      </div>

{% endfor %}
