---
---

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

   @mixin media-query($device) {
          @media screen and (max-width: $device) {
                    @content;
                  }
          }

@import "main";

@import "base", "layout", "syntax-highlighting";

.site-nav .nav-trigger { display: none; }
.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}

.thumbnail {
    width: 176px;
    height: auto;
    display: block;
}

/* resize images */
.thumbnail img {
    width: 176px;
    height: auto;
    display: block;
}

.firstline table{  
  border-collapse: separate;
  border-spacing: 150px;
}

.firstline td, th{
  border-bottom:2px solid #ddd;}

